<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Group Project - Team STLF</title>

    <!-- STYLES -->
      <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="./assets/vendors/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./assets/vendors/bootstrap/dist/css/bootstrap-theme.min.css" />
      <!-- ANGULAR UI BOOTSTRAP -->
    <link rel="stylesheet" href="./assets/vendors/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" />
      <!-- OUR CSS -->
    <link rel="stylesheet" href="./assets/styles/stylesheet.min.css" />

    <!-- SCRIPTS -->
      <!-- ANGULAR -->
    <script type="text/javascript" src="./assets/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="./assets/vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="./assets/vendors/angular-animate/angular-animate.min.js"></script>
      <!-- ANGULAR UI BOOTSTRAP -->
    <script type="text/javascript" src="./assets/vendors/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script type="text/javascript" src="./assets/vendors/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <!--ANGULAR SMART TABLE-->
    <script type="text/javascript" src="./assets/vendors/angular-smart-table/dist/smart-table.min.js"></script>
      <!-- OUR JAVASCRIPT -->
    <script type="text/javascript" src="./assets/scripts/client.min.js"></script>


  </head>
  <body ng-controller="MainController">
    <h1 class="text-center">Group Project - Team STLF</h1>

    <form ng-submit="addName(user)" class="container text-left">
      <div class="form-group ">
        <label for="name-input">Who is working on this project?</label>
          <p></p>
        <input type="text" class="form-control" id="name-input" ng-model="user.firstname" placeholder="Name" required autofocus />
          <p></p>
        <input class="btn btn-default" type="submit" value="Add Name" />
      </div>
    </form>
        <p> LIST OF PEOPLE IN DATABASE</p>
    <div ng-repeat="person in names"class="text-center container well col-sm-3">
     <p >{{ person.firstname }}</p>
    </div>

  <main ng-view></main>
  </body>
</html>
