<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Group Project - Team STLF</title>

    <!-- STYLES -->
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/assets/vendors/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/vendors/bootstrap/dist/css/bootstrap-theme.min.css" />
    <!-- ANGULAR UI BOOTSTRAP -->
    <link rel="stylesheet" href="/assets/vendors/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" />
    <!-- OUR CSS -->
    <link rel="stylesheet" href="/assets/styles/stylesheet.min.css" />

    <!-- SCRIPTS -->
    <!-- ANGULAR -->
    <script type="text/javascript" src="/assets/vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-animate/angular-animate.min.js"></script>
    <!-- ANGULAR UI BOOTSTRAP -->
    <script type="text/javascript" src="/assets/vendors/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script type="text/javascript" src="/assets/vendors/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <!--ANGULAR SMART TABLE-->
    <script type="text/javascript" src="/assets/vendors/angular-smart-table/dist/smart-table.min.js"></script>
    <!-- OUR JAVASCRIPT -->
    <script type="text/javascript" src="/assets/scripts/client.min.js"></script>
    <base href="/">

  </head>
  <body>
    <div class="instructions">
      <div class="container">
        <h1 class="lead">Failed to login</h1>
      </div>
    </div>
    <p><a href="/">Back to login</a></p>
  </body>
</html>
