<!-- passport modal login -->

<div class="modal-body">
<!-- <div class="container"> -->
    <!-- Set form action and method -->
    <form action="/" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"/>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Log In"/>
            <a href="/register">Register</a>
        </div>
    </form>
    <div class="modal-footer">
      <button class="btn btn-warning" ng-click="close()">Cancel</button>
    </div>
</div>

<!-- end passport modal login -->
